.header {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 4rem;
  background-color: transparent;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: rgba(82, 82, 82, 1);
  z-index: 20;
}

.logo {
  font-family: "Satisfy";
  font-size: 2.5rem;
  color: var(--primary-color);
  z-index: 10;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  z-index: 10;
}

.navigation-item a {
  text-transform: uppercase;
  color: var(--clr-gray);
}

.navigation-item a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 760px) {
  .navigation {
    display: none;
  }

  .header {
    justify-content: space-between;
    padding: 1rem 1rem;
  }
}
