.label_option {
  border: solid rgba(0, 0, 0, 0.192) 1px;
  padding: .5rem;
  display: inline-flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  font-size: .85rem;
}

.label_option input{
    display: none;
}

.label_option div {
  width: .8rem;
  height: .8rem;
  border-radius: 100%;
  border: solid rgba(0, 0, 0, 0.192) 1px;
  margin-right: 10px;
  flex-shrink: 0;
}

.label_option input:checked + div {
	background-color: var(--primary-color);
}

.label_option:focus,
 label_option:hover {
	border: solid 1px var(---clr-black-2);
}