.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-black);
}

.footer .information {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
  padding: 4rem 10rem;
}

@media screen and (max-width: 767px) {
  .footer .information {
    padding: 2rem 1rem;
    gap: 4rem;
  }
}

.information div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 0.9rem;
  color: var(--clr-white);
}

.information div h4 {
  font-size: 1.2rem;
  font-family: "Poppin-thin";
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.social-medias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  color: var(--clr-white);
}

.social-medias ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.social-medias a img {
  width: 2rem;
  height: 2rem;
}
